%h2 About PocketBook
%p 
  PocketBook is a database and search engine for mass spectrometry proteomics data. It uses Tranche to store
  the raw data files. The searchable metadata is stored in our own database.
%h3 Open-Source Scientific Software
%p 
  PocketBook is free open-source software. That means that anyone can download the source code for free and modify it as they see fit.
  The code is available on github at #{link_to("http://github.com/princelab/pocketbook", "http://github.com/princelab/pocketbook")}.
