#home
  %h2 Home
  %h3 A Mass Spec Proteomics Search Engine and Database
  %p
    PocketBook is a database and search engine for raw spectral data from 
    mass spectrometry proteomics experiments. It uses #{link_to("Tranche", "http://trancheproject.org/")}
    as a back end to store large data files.

